/*
Style sheet for Sean Morgan's Portfolio Pages
styles.css
Author : Sean Morgan
Date : Oct 12, 2019
Learn to create : https://www.youtube.com/watch?v=6rxWc-TNIJI
How I taught myself to code : https://www.youtube.com/watch?v=nmZR_JsLCfg
12 year old developer : https://www.youtube.com/watch?v=Fkd9TWUtFm0
Learning to code is not just for coders : https://www.youtube.com/watch?v=MvTSPwftvyo - Code.org
*/

/* Resets */
* {
    margin : 1px;
    padding : 1px;
    border : 1px;
}

/* Imports */
/* Lobster */
@import url('https://fonts.googleapis.com/css?family=Lobster&display=swap');
/* Cardo */
@import url('https://fonts.googleapis.com/css?family=Cardo&display=swap');

/* HTML */
html {
    background: radial-gradient(circle, rgba(128,128,128,1) 0%, rgba(0,0,0,1) 100%); /* Gray to Black */
    font-size : 16px;
}

/* Body */
body {
    font-family: 'Cardo', Times, Times New Roman, serif;
    background-color : maroon;
    width : 72%;
    margin : 0px auto;
    border : 5px solid black;
    min-width : 626px;
    max-width : 1000px;
}

/* Classes */

.specialtitle {
    line-height : 2em;
    background : linear-gradient(rgba(80, 80, 80, 1), rgba(255, 255, 255, 1)); /* Dark Gray to White */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    clear : left;
}

.noclear {
    clear : none;
}

/* Font Families */
h1 {
    font-family: 'Lobster', Brush Script MT, Brush Script Std, cursive;
}
/* Font Sizes */
h1 {
    font-size : 3rem;
}

h2 {
    font-size : 2em;
}

h3 {
    font-size : 1.5em;
}

h4 {
    font-size : 1.4em;
}

a,p {
    font-size : 1.5em;
}

/* Footer */
footer {
    clear : both;
    height : 10em;
    background: linear-gradient(360deg, rgba(255,165,0,1) 0%, rgba(128,0,0,1) 100%); /* Orange to Maroon */
}

footer a {
    position : relative;
    float : left;
    left : 1em;
}

/* Headers */
header {
    background: linear-gradient(180deg, rgba(255,165,0,1) 0%, rgba(128,0,0,1) 100%);
    height : 10em;
    /* Orange to Maroon */
}

/* ID */
#candyLand {
    background-image : url("images/Candyland_Game_Board.jpg");
    background-repeat : no-repeat;
    background-size : 100%;

}

#fireicon {
    border-radius : 50%;
    width: auto;
    display : inline-block;
    float: left;
}

#fireicon:hover {
    border : 2px solid white;
}

#game {
    z-index : -1;
}

#sean {
    font-size : 450%;
    width : 65%;
    float : right;
    position : relative;
}

/* Images */
img {
    display : inline;
    background-color : orange;
    margin : 0 2%;
}

/* Listed Item */

/* Nav */
nav {
    background-color : gray;
    background-image : url("images/ribbon.png");
    height : 5em;
    background-size : 100% 100%;

    background-repeat : no-repeat;
    background-position : center;
    width : 100%;
    position : relative;
    clear : both;
    left : -.1%;
    margin : 5% 0px 1% 0px;
    opacity : .75;
}

nav p {
    display : inline;
    font-size : 220%;
    position : relative;
    top : 25%;
    left : 5%;
}

/* Positioning */
a:hover{
    position : relative;
    top : -5px;
    text-decoration: underline overline white;
}

.center {
    text-align : center;
}

.left {
    float : left;
}

.right {
    float : right;
}

/* Spacing */
p, a{
    padding : 5px;
}

/* Text Coloring */

a, p {
/* https://www.color-meanings.com/shades-of-orange-color-names-html-hex-rgb-codes/ */
    background : linear-gradient(360deg, rgba(255, 168, 54, 1) 0%, rgba(211,211,211, 1) 100%); /* Yellow-Orange to light gray */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

h1, h2, h3, h4{
    font-weight : 800;
    color : radial-gradient(circle, rgba(128,128,128,1) 0%, rgba(0,0,0,1) 100%); /* Gray to Black */
    text-shadow: 5px 10px 12px rgba(0, 0, 0, 0.7), -3px 10px 14px rgba(0, 0, 0, 0.7);
}


/* Unordered List */
.projectLanguages, .projectLanguages a {
    list-style : none;
    clear : both;
    float : left;
    position : relative;
    left : 10%;
}

